<mat-toolbar color="primary">
  <span>RENTAL MANAGEMENT SYSTEM</span>
  <span class="example-spacer"></span>
  <span>
    <button [matMenuTriggerFor]="animals">Select Location</button>
    <mat-menu #animals="matMenu">

      <div *ngFor="let location of catalogData.locations; let locIndex=index">
        <button mat-menu-item [matMenuTriggerFor]='submenu' (click)="locChange(location.dealers_id, null)">{{location.name}}</button>
        <mat-menu #submenu="matMenu">
          <ng-container *ngFor="let branch of location.branches; let branchIndex=index">
            <button mat-menu-item (click)="branchChange(location.dealers_id, branch.branch_id)">{{branch.name}}</button>
          </ng-container>
        </mat-menu>
      </div>
    </mat-menu>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
